// Esquema de colores

// colores
$aqua: #7CEA9C;
$marine: #2D3047;
$negru: #071013;
$white: #ffffff;

//tipografia
$lato: 'Lato', sans-serif;

// Peso de Fuentes
$blacko: 900;
$boldo: 700;
$regularo: 400;
$lighto: 300;

// Tamaños de Fuentes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

 